.description {
    text-align: center;
    width: 62%;
    display: flex;
    flex-direction: column;
}
.description > * {
    width: 98%;
    text-align: center;
}
.description > input {
    margin: 0.5rem auto;
}
.description > textarea {
    margin: 0 auto auto auto;
}

@media (max-width: 768px) {
    .description {
        position: absolute;
        top: 100vh;
        max-height: 60vh;
    }
    .description > textarea {
        height: 35vh;
        margin-bottom: 0.5rem;
    }
    .description > div:last-child {
        height: 50px;
        display: grid;
        align-items: center;
        cursor: pointer;
    }
}
