.taskBar {
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 100%;
    justify-content: space-between;
}
.list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 62vh;
    margin: 0.5rem;
}
.contents {
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    overflow: scroll;
    scrollbar-width: none;
}
.contents > * {
    margin-bottom: 0.5rem;
}
.contents > div:last-child {
    margin-bottom: 0;
}
.scrollers {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    pointer-events: none;
    justify-content: space-between;
}
.scrollers > div {
    width: 100%;
    height: 10%;
    pointer-events: all;
}
.scrollers .scrollUp {
    background-color: red;
}
.scrollers .scrollDown {
    background-color: green;
}

@media (max-width: 768px) {
    .taskBar {
        flex-direction: column-reverse;
    }
    .list {
        max-height: 70%;
        flex-direction: column-reverse;
    }
    .contents {
        flex-direction: column-reverse;
    }
    .contents > div:last-child {
        margin-bottom: 0.5rem;
    }
    .contents > div:first-child {
        margin-bottom: 0;
    }
}
